html{
    margin: 0;
    height: 100%;
}

body{
    margin: 0;
    height: 100%;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5));
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.login-lijevo{
    background: #fff;
	display:table;
    padding: 30px;
}

a{
    color: #fff !important;
    margin-top: -200px !important;
}

h1{
    color:#fff !important;
    margin-top: 200px !important;
    text-align: center;

}


.score{
    float:right;
    width: 300px;
    height: 20px;
    color: white;
}